<div class="card mb-4" style="width: 18rem;">
  <div class="text-center wrapper">
    <img src="../../../assets/woman.jpg" class="card-img-top" alt="..." />
    <ul class="list-inline members-icone animate textcenter">
      <li class="list-inline-item">
        <button class="btn btn-sm btn-outline-danger">
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-sm btn-outline-danger">
          <i class="fa fa-heart"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-sm btn-outline-danger">
          <i class="fa fa-envelope"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <a href="#" class="btn btn-outline-danger">Go somewhere</a>
  </div>
</div>
