.card {
  img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
  }
  .wrapper {
    overflow: hidden;
    position: relative;
    &:hover .members-icone {
      bottom: 0;
      opacity: 1;
    }
  }
  .members-icone {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
  }
  .animate {
    transition: all 0.3s ease-in-out;
  }
}
